<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <img src="assets/images/LogoRutasColombia.png" class="logo-brand" alt="logo">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <img src="assets/images/menu.svg">
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#idioma">Idioma</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-2 mt-12">
                    <h5>Sitios en tu <b>ruta.</b></h5>
                    <div class="sidebar-left sidebar-fixed animate fadeUp animation-fast">
                        <div class="sidebar animate fadeUp">
                            <div class="sidebar-content">
                                <div id="sidebar-list" class="sidebar-menu chat-sidebar list-group position-relative">
                                    <div id="chat-sidenav">
                                        <!-- <div class="sidebar-list-padding app-sidebar sidenav" id="chat-sidenav"> -->
                                        <!-- Sidebar Header -->
                                        <div class="sidebar-header">
                                            <div class="row valign-wrapper">
                                                <div class="col s12">
                                                    <p class="m-0 blue-grey-text text-darken-4 font-weight-700">
                                                        {{ 'mapa.tituloListaSitios' }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/ Sidebar Header -->

                                        <!-- Sidebar Search -->
                                        <div class="sidebar-search animate fadeUp">
                                            <div class="search-area">
                                                <i class="material-icons search-icon">search</i>
                                                <input type="text" placeholder="" [(ngModel)]="searchTerm" name="searchTerm"  class="app-filter" id="chat_filter">
                                            </div>
                                        </div>
                                        <!--/ Sidebar Search -->

                                        <!-- Sidebar Content List -->
                                        <div class="sidebar-content sidebar-chat">
                                            <div class="chat-list">
                                                <ng-container *ngFor="let sitio of sitosCercanos | filtroSitios:searchTerm; let i = index">
                                                    <div class="chat-user animate fadeUp delay-1"
                                                        *ngIf="sitio.punto.tipo ===2">
                                                        <div class="user-section">
                                                            <div class="row valign-wrapper">
                                                                <!--         <div class="col s2 media-image online pr-0">
                                                                    <div class="star-timing">
                                                                        <div class="favorite">
                                                                            <i
                                                                                class="material-icons amber-text">star</i>
                                                                        </div>
                                                                    </div>
                                                                </div> -->
                                                                <div class="col s12">
                                                                    <span class="new badge gradient-45deg-purple-deep-orange gradient-shadow"
                                                                        data-badge-caption="">{{sitosCercanos[i].punto.distancia}}</span>
                                                                    <p class="m-0 blue-grey-text text-darken-4 font-weight-700"> 
                                                                        {{sitosCercanos[i].punto.idiomas[idioma].nombre}}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="row valign-wrapper">
                                                                <div class="col s12">
                                                                    <p class="m-0 info-text">
                                                                        {{sitosCercanos[i].punto.idiomas[idioma].descripcion}}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </ng-container>
                                            </div>
                                            <div class="no-data-found">
                                                <h6 class="center">No Results Found</h6>
                                            </div>
                                        </div>
                                        <!--/ Sidebar Content List -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 mt-4">
                    <h5>Mapa</h5>
                    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="mapClicked($event)"
                        (mapReady)="mapReadyHandler($event)">
                        <agm-marker #gm *ngFor="let sitio of sitosCercanos; let i = index"
                            [iconUrl]='sitosCercanos[i].punto.icono' [animation]="sitosCercanos[i].punto.animation"
                            [latitude]="sitosCercanos[i].punto.latitud" [longitude]="sitosCercanos[i].punto.longitud"
                            (markerClick)="clickedMarker(infoWindow,gm, i)"
                            [markerDraggable]="sitosCercanos[i].punto.draggable" (dragEnd)="markerDragEnd($event)">
                            <agm-info-window *ngIf="sitio.punto.tipo ===2" (infoWindowClose)="cerrar()" #infoWindow>
                                <div class="wpgmp_infowindow fc-infowindow-default">
                                    <div class="wpgmp_iw_content">
                                        <div class="fc-main">
                                            <div class="fc-item-title">{{sitosCercanos[i].punto.idiomas[idioma].nombre}}
                                                <span
                                                    class="fc-badge info">{{sitosCercanos[i].punto.categoria.idiomas[idioma].nombre}}</span>
                                            </div>
                                            <div class="fc-item-featured_image"><img
                                                    [src]="sitosCercanos[i].punto.imagen"> </div>
                                            <p>{{sitosCercanos[i].punto.idiomas[idioma].descripcion}}</p>
                                            <address><b>{{ 'mapa.direccion' }} :
                                                </b>{{sitosCercanos[i].punto.direccion}},
                                                {{sitosCercanos[i].punto.telefono}}
                                            </address>
                                            <p><a target="_blank" class="fc-btn fc-btn-small fc-btn-red"
                                                    [href]="sitosCercanos[i].punto.url">{{ 'mapa.visitarSitio' }}</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </agm-info-window>
                        </agm-marker>
                        <agm-direction [origin]="origin" [destination]="destination" (onChange)="onChange($event)"
                            (onResponse)="onResponse($event)" (destinationDrag)="getcoords('direction',$event)"
                            (originDrag)="getcoords('direction',$event)">
                        </agm-direction>
                    </agm-map>
                    <p></p>
                </div>
                <div class="col-md-12 mt-4">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="text" class="form-control" id="" placeholder="{{distancia}} km"
                                    [(ngModel)]="distancia">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary full-width" type="button"
                                (click)="obtenerSitioCercanos()">Sitios Cercanos
                            </button>

                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Lugar de partida"
                                    (keydown.enter)="$event.preventDefault()" id="direccionBusquedaOrigen"
                                    placeholder="{{ 'mapa.buscarSitioInicio'  }}" autocorrect="off" autocapitalize="off"
                                    spellcheck="off" #busquedaOrigen [(ngModel)]="direccionBusquedaOrigen">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Lugar de llegado"
                                    (keydown.enter)="$event.preventDefault()" id="direccionBusquedaDestino"
                                    placeholder="{{ 'mapa.buscarSitioFin'  }}" autocorrect="off" autocapitalize="off"
                                    spellcheck="off" #busquedaDestino [(ngModel)]="direccionBusquedaDestino">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <a href="" class="btn btn-primary full-width">Consultar Ruta</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bgDark">
        <div class="container">

            <small>©2020 All Rights Reserved. Created by <a href="https://themesbootstrap.com.mx/"
                    class="font-weight-bold" target="_blank" rel="noopener">Themes Bootstrap</a></small>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</body>