<nav class="navbar  navbar-light rc-fondo-azul">
    <a class="navbar-brand"><img src="assets/images/LogoRutasColombia.png" class="logo-brand" alt="logo"></a>
    <form class="form-inline text-white">
        <a [ngClass]="idioma === 'es' ? 'nav-link text-white rc-mano' : 'nav-link text-warning'" title="English"
            (click)="cambiarIdioma('en')"> EN </a> |
        <a [ngClass]="idioma === 'es' ? 'nav-link text-warning' : 'nav-link text-white rc-mano'" title="Español"
            (click)="cambiarIdioma('es')"> ES </a>
    </form>
</nav>
<div class="rc-titlebar row pt-5 pb-3">
    <div class="col-md-12">
        <h3 class="text-center rc-titulo4">{{ 'mapa.titulo' | translate }}</h3>
    </div>
    <div class="offset-md-5 col-md-2">
        <div class="triangled_colored_separator"></div>
    </div>
</div>
<div class="row pt-3">
    <div class="col-md-4">
        
        <div class="row" [style.visibility]="!resultados ? 'visible' : 'collapse' "
            [style.height]="!resultados ? '100%' : '0'">
            <div class="col-md-12">
                <label for="direccionBusquedaOrigen">{{ 'mapa.lugarPartida' | translate }}</label>
                <input type="text" class="form-control" 
                    (keydown.enter)="$event.preventDefault()" id="direccionBusquedaOrigen"
                    [placeholder]=" 'mapa.ingresarPartida' | translate " autocorrect="off" autocapitalize="off"
                    spellcheck="off" #busquedaOrigen [(ngModel)]="direccionBusquedaOrigen">
            </div>
            <div class="col-md-12">
                <label for="direccionBusquedaDestino">{{ 'mapa.lugarDestino' | translate }}</label>
                <input type="text" class="form-control" [placeholder]=" 'mapa.ingresarDestino' | translate "
                    (keydown.enter)="$event.preventDefault()" id="direccionBusquedaDestino" autocorrect="off"
                    autocapitalize="off" spellcheck="off" #busquedaDestino [(ngModel)]="direccionBusquedaDestino">
            </div>
            <div class="col-md-12">
                <label for="distancia">{{ 'mapa.distanciaKm' | translate }}: {{ distancia }} km</label>
                <input type="range" id="distancia" [(ngModel)]="distancia" min="1" max="10" step="1">
            </div>
            <div class="col-md-12">
                <label>{{ 'mapa.tituloConsultar' | translate }}:</label>
                <br />
                <button class="btn btn-sm" (click)="obtenerSitioCercanos(); resultados = true;">{{ 'mapa.miUbicacion' | translate }}</button>&nbsp;
                <button class="btn btn-sm" (click)="obtenerSitioCercanosRuta(); resultados = true;">{{ 'mapa.ruta' | translate }}</button>
            </div>
            
        </div>
        <div class="row" *ngIf="resultados">
            <div class="col-md-12 rc-boton-rosa pt-1 pb-1">
                <a (click)="resultados = false">{{ "mapa.regresar" | translate }}</a>
            </div>
        </div>
        <div class="row" *ngIf="resultados">
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" [placeholder]=" 'mapa.filtrar' | translate " aria-describedby="basic-addon1" [(ngModel)]="searchTerm"
                        name="searchTerm" class="rc-input90" id="chat_filter">
                    <div class="input-group-prepend rc-icon">
                        <span class="input-group-text rc-icon" id="basic-addon1">
                            <i class="material-icons search-icon">search</i>
                        </span>
                    </div>
                </div>
            </div>
            <br/>
            <div class="col-md-12 chat-list">
                <ng-container *ngFor="let sitio of sitosCercanos | SearchPipeGeneral:searchTerm; let i = index">
                    <div class="row" *ngIf="sitio.punto.tipo === 2">
                        <div class="col-md-10">
                            <p class="m-0 blue-grey-text text-darken-4 font-weight-700">
                                {{sitio.punto.idiomas[idioma].nombre}}
                            </p>

                        </div>
                        <div class="col-md-2">
                            <a class="new badge gradient-45deg-purple-deep-orange gradient-shadow" target="_blank" 
                            (click)="registrarVisitaSitio(sitosCercanos[i].punto.id,sitosCercanos[i].punto.URLCalificacion,'visitaCalificacion')"
                            [href]="sitosCercanos[i].punto.URLCalificacion"
                                data-badge-caption=""><i class="material-icons amber-text">star</i></a>

                        </div>
                    </div>
                </ng-container>
                
                <div class="no-data-found" *ngIf="sitosCercanos.length === 0 ">
                    <h6 class="center">{{ "mapa.sinResultado" | translate }}</h6>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <agm-map class="rc-mapa" [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="mapClicked($event)"
            (mapReady)="mapReadyHandler($event)">
            <agm-marker #gm *ngFor="let sitio of sitosCercanos; let i = index" [iconUrl]='sitosCercanos[i].punto.icono'
                [animation]="sitosCercanos[i].punto.animation" [latitude]="sitosCercanos[i].punto.latitud"
                [longitude]="sitosCercanos[i].punto.longitud" (markerClick)="clickedMarker(infoWindow,gm, i)"
                [markerDraggable]="sitosCercanos[i].punto.draggable" (dragEnd)="markerDragEnd($event)">
                <agm-info-window *ngIf="sitio.punto.tipo ===2" (infoWindowClose)="cerrar()" #infoWindow>
                    <div class="wpgmp_infowindow fc-infowindow-default">
                        <div class="wpgmp_iw_content">
                            <div class="fc-main">
                                <div class="fc-item-title">{{sitosCercanos[i].punto.idiomas[idioma].nombre}}
                                    <span
                                        class="fc-badge info">{{sitosCercanos[i].punto.categoria.idiomas[idioma].nombre}}</span>
                                </div>
                                <div class="fc-item-featured_image"
                                    *ngIf="sitosCercanos[i].punto.imagen !== null && sitosCercanos[i].punto.imagen !== undefined">
                                    <img [src]="sitosCercanos[i].punto.imagen">
                                </div>
                                <p>{{sitosCercanos[i].punto.idiomas[idioma].descripcion}}</p>
                                <address><b>{{ 'mapa.direccion' | translate }} :
                                    </b>{{sitosCercanos[i].punto.direccion}},
                                    {{sitosCercanos[i].punto.telefono}}
                                </address>
                                <p>
                                    <a *ngIf="sitosCercanos[i].punto.URLWeb" target="_blank"
                                        class="fc-btn fc-btn-small fc-btn-red"
                                        (click)="registrarVisitaSitio(sitosCercanos[i].punto.id,sitosCercanos[i].punto.URLWeb,'visitaSitio')"
                                        [href]="sitosCercanos[i].punto.URLWeb">{{ 'mapa.visitarSitio' | translate
                                        }}</a>&nbsp;&nbsp;
                                    <a *ngIf="sitosCercanos[i].punto.URLContacto" target="_blank"
                                        class="fc-btn fc-btn-small fc-btn-red"
                                        (click)="registrarVisitaSitio(sitosCercanos[i].punto.id,sitosCercanos[i].punto.URLContacto,'visitaContacto')"
                                        [href]="sitosCercanos[i].punto.URLContacto">{{ 'mapa.contacto' | translate
                                        }}</a>&nbsp;&nbsp;
                                    <a *ngIf="sitosCercanos[i].punto.URLRelacionada" target="_blank"
                                        class="fc-btn fc-btn-small fc-btn-red"
                                        (click)="registrarVisitaSitio(sitosCercanos[i].punto.id,sitosCercanos[i].punto.URLRelacionada,'visitaRelacionada')"
                                        [href]="sitosCercanos[i].punto.URLRelacionada">{{ 'mapa.masInformacion' |
                                        translate }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </agm-info-window>
            </agm-marker>
            <agm-direction [origin]="origin" [destination]="destination" (onChange)="onChange($event)"
                (onResponse)="onResponse($event)" (destinationDrag)="getcoords('direction',$event)"
                (originDrag)="getcoords('direction',$event)">
            </agm-direction>
        </agm-map>
    </div>
</div>