<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <img src="assets/images/LogoRutasColombia.png" class="logo-brand" alt="logo">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <img src="assets/images/menu.svg">
            </button>
  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#hero">Idioma</a>
                    </li>
                   
                </ul>
            </div>
        </div>
    </nav>
    
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-2 mt-4">
                    <h5>Sitios en tu <b>ruta.</b></h5>
                    <p></p>
                </div>
                <div class="col-md-8 mt-4">
                    <h5>Mapa</h5>
                    
                    <p></p>
                </div>
                <div class="col-md-8 mt-4">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="text" class="form-control" id="" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <a href="" class="btn btn-primary full-width">Buscar</a>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="email" class="form-control" id="" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="text" class="form-control" id="" placeholder="Company name">
                            </div>
                        </div>
                  
                        <div class="col-md-2">
                            <a href="" class="btn btn-primary full-width">Contact sales</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
  
    <footer class="bgDark">
        <div class="container">

            <small>©2020 All Rights Reserved. Created by <a href="https://themesbootstrap.com.mx/" class="font-weight-bold" target="_blank"
                    rel="noopener">Themes Bootstrap</a></small>
        </div>
    </footer>
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
